In [2]:
import pandas as pd
from pathlib import Path

stock_data_to_load = Path("Resources/symbols_valid_meta.csv")

stock_data = pd.read_csv(stock_data_to_load)

In [3]:
#Importing data-to-load from resources

arggy_dtl = Path("Resources/ARGGY.csv")
bmwyy_dtl = Path("Resources/BMWYY.csv")
byddf_dtl = Path("Resources/BYDDF.csv")
cenn_dtl = Path("Resources/CENN.csv")
dnfgf_dtl = Path("Resources/DNFGF.csv")
evtv_dtl = Path("Resources/EVTV.csv")
f_dtl = Path("Resources/F.csv")
ffie_dtl = Path("Resources/FFIE.csv")
fsr_dtl = Path("Resources/FSR.csv")
fujhy_dtl = Path("Resources/FUJHY.csv")
fuv_dtl = Path("Resources/FUV.csv")
gelyf_dtl = Path("Resources/GELYF.csv")
gm_dtl = Path("Resources/GM.csv")
goev_dtl = Path("Resources/GOEV.csv")
gwlly_dtl = Path("Resources/GWLLY.csv")
hmc_dtl = Path("Resources/HMC.csv")
hymtf_dtl = Path("Resources/HYMTF.csv")
hyzn_dtl = Path("Resources/HYZN.csv")
isuzf_dtl = Path("Resources/ISUZF.csv")
kndi_dtl = Path("Resources/KNDI.csv")
lcid_dtl = Path("Resources/LCID.csv")
li_dtl = Path("Resources/LI.csv")
mbgaf_dtl = Path("Resources/MBGAF.csv")
mmns_dtl = Path("Resources/MMNS.csv")




tsla_dtl = Path("Resources/TSLA.csv")
tm_dtl = Path("Resources/TM.csv")
race_dtl = Path("Resources/RACE.csv")

nio_dtl = Path("Resources/NIO.csv")
pii_dtl = Path("Resources/PII.csv")
solo_dtl = Path("Resources/SOLO.csv")




arggy_df = pd.read_csv(arggy_dtl)
bmwyy_df = pd.read_csv(bmwyy_dtl)
byddf_df = pd.read_csv(byddf_dtl)
cenn_df = pd.read_csv(cenn_dtl)
dnfgf_df = pd.read_csv(dnfgf_dtl)
evtv_df = pd.read_csv(evtv_dtl)
f_df = pd.read_csv(f_dtl)
ffie_df = pd.read_csv(ffie_dtl)
fsr_df = pd.read_csv(fsr_dtl)
fujhy_df = pd.read_csv(fujhy_dtl)
fuv_df = pd.read_csv(fuv_dtl)
gelyf_df = pd.read_csv(gelyf_dtl)
gm_df = pd.read_csv(gm_dtl)
goev_df = pd.read_csv(goev_dtl)
gwlly_df = pd.read_csv(gwlly_dtl)
hmc_df = pd.read_csv(hmc_dtl)
hymtf_df = pd.read_csv(hymtf_dtl)
isuzf_df = pd.read_csv(isuzf_dtl)
kndi_df = pd.read_csv(kndi_dtl)
lcid_df = pd.read_csv(lcid_dtl)
li_df = pd.read_csv(li_dtl)
mbgaf_df = pd.read_csv(mbgaf_dtl)
mmns_df = pd.read_csv(mmns_dtl)


tsla_df = pd.read_csv(tsla_dtl)
tm_df = pd.read_csv(tm_dtl)
race_df = pd.read_csv(race_dtl)

nio_df = pd.read_csv(nio_dtl)
pii_df = pd.read_csv(pii_dtl)
solo_df = pd.read_csv(solo_dtl)

In [4]:
auto_stocks_dict = {'Tesla':'TSLA',
                   'Toyota':'TM',
                   'Ferrari':'RACE',
                    'Honda':'HMC',
                    'Ford': 'F',
                    'General Motors': 'GM',
                    'NIO': 'NIO',
                    'Polaris': 'PII',
                    'Kandi Technologies Group': 'KNDI',
                    'Electra Meccanica': 'SOLO',
                    'Arcimoto': 'FUV',
                   }

tickers = [val for val in auto_stocks_dict.values()]

In [5]:
automotive_df = stock_data[stock_data['Symbol'].isin(tickers)]
automotive_df

,Nasdaq Traded,Symbol,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
2433,Y,F,Ford Motor Company Common Stock,N,,N,100.0,N,NaN,F,F,N
2859,Y,FUV,"Arcimoto, Inc. - Common Stock",Q,S,N,100.0,N,D,NaN,FUV,N
3051,Y,GM,General Motors Company Common Stock,N,,N,100.0,N,NaN,GM,GM,N
3368,Y,HMC,"Honda Motor Company, Ltd. Common Stock",N,,N,100.0,N,NaN,HMC,HMC,N
4176,Y,KNDI,"Kandi Technologies Group, Inc. - Common Stock",Q,Q,N,100.0,N,N,NaN,KNDI,N
5012,Y,NIO,"NIO Inc. American depositary shares, each rep...",N,,N,100.0,N,NaN,NIO,NIO,N
5598,Y,PII,Polaris Inc. Common Stock,N,,N,100.0,N,NaN,PII,PII,N
5958,Y,RACE,Ferrari N.V. Common Shares,N,,N,100.0,N,NaN,RACE,RACE,N
6644,Y,SOLO,Electrameccanica Vehicles Corp. Ltd. - Common ...,Q,S,N,100.0,N,N,NaN,SOLO,N
7096,Y,TM,Toyota Motor Corporation Common Stock,N,,N,100.0,N,NaN,TM,TM,N
7208,Y,TSLA,"Tesla, Inc. - Common Stock",Q,Q,N,100.0,N,N,NaN,TSLA,N

In [6]:
nasdaq_dict = {'Tesla': 'tsla_df',
               'Toyota': 'tm_df',
               'Ferrari': 'race_df',
              'Honda': 'hmc_df',
              'Ford': 'f_df',
              'General Motors': 'gm_df',
              'Kandi Technologies Group': 'kndi_df'}

In [7]:

#Finding min & max dates for index
min_date = min(pd.to_datetime(globals()[df_name]['Date']).min() for df_name in nasdaq_dict.values())
max_date = max(pd.to_datetime(globals()[df_name]['Date']).max() for df_name in nasdaq_dict.values())

#Setting index to date range
date_range = pd.date_range(start=min_date, end=max_date, freq='D')
merged_df = pd.DataFrame(index=date_range)

# Merging dataframes
for company, df_name in nasdaq_dict.items():
    # Access the DataFrame using the variable name
    df = globals()[df_name]
    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    # Reset index to avoid issues with merging
    df = df.set_index('Date')
    # Merge the DataFrame onto the new DataFrame
    merged_df = pd.merge(merged_df, df['Close'], left_index=True, right_index=True, how='left')
    # Rename the 'Close' column to the company name
    merged_df.rename(columns={'Close': company}, inplace=True)


merged_df = merged_df.round(2)

merged_df

,Tesla,Toyota,Ferrari,Honda,Ford,General Motors,Kandi Technologies Group
1972-06-01,NaN,NaN,NaN,NaN,2.15,NaN,NaN
1972-06-02,NaN,NaN,NaN,NaN,2.15,NaN,NaN
1972-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-06-05,NaN,NaN,NaN,NaN,2.15,NaN,NaN
...,...,...,...,...,...,...,...
2020-03-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-30,502.13,125.22,154.29,23.41,5.03,21.32,2.40
2020-03-31,524.00,119.95,152.57,22.46,4.83,20.78,2.62
2020-04-01,481.56,116.71,148.45,21.08,4.40,19.26,2.56